* {
    box-sizing: border-box;
}
:root {
    --red:#f00;
    --ora:#fa0;
    --yel:#ff0;
    --gre:#0f0;
    --cya:#0ff;
    --blu:#00f;
    --cri:#f07;
    --mag:#f0f;
    --whi:#fff;
    --gra:hsl(0, 0%, 50%);
}
html {
    image-rendering: pixelated;
}
::selection {
    background-color: rgba(0, 0, 255, 1);
}
html, body {
    margin:0;
    padding:0;
}
body {
    display: block;
    background-color: #333333;
    text-size-adjust: none;
}
header {
    display: block;
    position: relative;
    background-image: url(../images/favicon.svg);
    background-color: black;
    background-size: 50%;
    animation: slide 32s linear infinite;
    width: 100%;
    height: 240px;
    top: 0;
    left: 0;
}
main {
    position: relative;
    display: block;
    height: auto;
}
main ul{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    gap: 32px 500px;
    margin-top: 32px;
}
main li{
    display: inline-flex;
}
footer {
    position: static;
    display: block;
    background-color: hsl(0, 0%, 12%);
    width: 100%;
    bottom: 0%;
    padding-bottom: 6px;
}
h1,h2,p {
    position: relative;
    color:white;
    mix-blend-mode: exclusion;
    font-family: sans-serif;
}
a {
    text-decoration: none;
    color:white;
    filter: drop-shadow(0 0 2px white);
    transition: 0.2s ease-in-out;
}
a:hover {
    filter: drop-shadow(0 0 8px white);
}
h1 {
    filter: drop-shadow(0 0 2px white);
    font-size: 32px;
}
ul {
    display: block;
    padding: 0;
    width: fit-content;
    margin: 0;
}
li {
    list-style: none;
}
.neave-like {
    position: relative;
    width:100px;
    height: 100px;
    z-index: 100;
    background-size: 100%;
    filter: drop-shadow(0 0 2px white);
    background-image: url(../images/NeaveLike_logo.svg);
    padding: 0;
}
.high {
    color: white;
    mix-blend-mode: exclusion;
}
.proj {
    position: relative;
    width: 316px;
    height: 160px;
    background-color: black;
    border-radius: 12px;
    background-image: url(../images/favicon.svg);
    animation: slide2 8s linear infinite;
}
.img img{
    position: absolute;
    width:100%;
    height: 160px;
    border-radius: 12px;
    aspect-ratio: 1;
    z-index: 9;
    right: 0;
    transition: 0.2s ease-in-out 0.1s;
    user-select: none;
}
.img img:hover {
    height: 80px;
    width:120px;
    aspect-ratio: 16/9 auto;
}
.img a {
    filter:none;
}
.txt *{
    position: relative;
    top:0;
    margin: 0;
    max-width: 200px;
    user-select: none;
}
.txt p{
    font-size: 18px;
}
.rai {
    animation: rainbow 8s linear infinite;
}
.nea {
    animation: neave 8s linear infinite;
}
@keyframes slide {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 400% 400%;
    }
}
@keyframes slide2 {
    to {
        background-position: -480px 480px;
    }
}
@keyframes rainbow {
    0%,100% {color:#f00;}
    12.5% {color:#fa0;}
    25% {color:#ff0;}
    37.5% {color:#0f0;}
    50% {color:#0ff;}
    62.5% {color:#00f;}
    75% {color:#f0f;}
    87.5% {color:#f07;}
}
@keyframes neave {
    0%,100% {color:#9cf;}
    25% {color:#f9c}
    50% {color:#ec8;}
    75% {color:#7eb}
}