/*General style*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    image-rendering: pixelated;
    scroll-behavior: smooth;
}
body {
    background-color: hsl(0, 0%, 10%);
    display: block;
}
:root {
    --red:#f00;
    --orange:#f70;
    --yellow:#ff0;
    --green:#0f0;
    --cyan:#0ff;
    --blue:#00f;
    --purple:#70f;
    --magenta:#f0f;
    --crimson:#f07;
    --white:#fff;
    --gray:hsl(0, 0%, 50%);
    --black:#000;
    --rainbow: repeating-linear-gradient(to left, #f00,#ff0,#0f0,#0ff,#00f,#f0f,#f00);
    --neave: repeating-linear-gradient(to left,#9cf,#f9c,#fc9,#9fc,#9cf);
    --top-rainbow: repeating-linear-gradient(to top, #f00,#ff0,#0f0,#0ff,#00f,#f0f,#f00);
    --top-neave: repeating-linear-gradient(to top, #9cf,#f9c,#fc9,#9fc,#9cf);
}
ul {
    list-style: none;
}
h1,h2,h3,h4,p,span,a {
    font-family: sans-serif;
    color:var(--TextColor);
}
h1 {
    font-size: 56px;
}
h2 {
    font-size: 46px;
}
h3 {
    font-size: 36px;
}
h4 {
    font-size: 26px;
}
p,span,a {
    font-size: 16px;
}
a {
    text-decoration: none;
    transition: 0.2s all;
}
a:hover {
    text-shadow: 2px 1px 4px var(--white);
}
/*Header style*/
header {
    position: relative;
    width: 100%;
    height: 160px;
    top:0;
    background-color: hsl(0, 0%, 5%);
    margin-bottom: 40px;
}
/*Header -> icon style*/
.icon{
    position: absolute;
    left: 0;
    top: 0;
    width: 100px;
    height: 100px;
    transition: 0.3s all;
    border-radius: 50%;
    z-index: 2;
}
.icon img {
    width:100%;
    user-select: none;
    border-radius: 50%;
    z-index: 100;
    opacity:1;
}
.icon .visual {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    --slideX:0;
    --slideY:400%;
    border-radius: 50%;
    background-size:100% 400%;
    background-image: var(--top-neave);
    animation: slide 8s linear infinite;
    transition: 0.3s opacity ease-out;
    will-change: opacity;
    opacity:0;
    z-index: -1;
}
.icon:hover .visual {
    opacity:1;
}
.mini {
    width: 44px;
    height: 44px;
}
.neon {
    filter: drop-shadow(0 0 1px var(--white));
}
.neon:hover {
    filter: drop-shadow(0 0 4px var(--white));
}
/*Main style*/
main {
    position: relative;
    width: 100%;
    --TextColor:var(--white);
}
section.projects {
    position: relative;
}
.projects__list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 10px;
    max-width: 1080px;
}
.project {
    position: relative;
    width: 36px;
    height: 36px;
    background: var(--ProjBg);
    transition: 0.25s width ease-in-out;
    z-index: 1;
}
a:hover > .project {
    text-shadow: 2px 1px 4px var(--TextColor);
}
.project:hover {
    width: 600px;
}
.project img {
    width: 36px;
    height: 36px;
    z-index: 10;
    user-select: none;
}
.projects__text {
    position: absolute;
    left:36px;
    top:0;
    z-index: 2;
    user-select: none;
    max-width: 600px;
    color:var(--TextColor);
}
.projects__text > h1, .projects__text > p {
    font-size: 0px;
    transition: 0.25s all;
}
.project:hover > .projects__text h1 {
    font-size: 12px;
}
.project:hover > .projects__text p {
    font-size: 10px;
}
/*Projects style*/
.bossfights {
    --ProjBg:var(--black);
    --TextColor:var(--white);
}
.roguelike {
    --ProjBg:var(--white);
    --TextColor:var(--black);
}
.ae {
    --ProjBg:var(--neave);
    --TextColor:var(--black);
    background-size: 400% 400%;
    --slideX:400%;
    --slideY:0;
    animation:slide 30s linear infinite;
}
.scratch {
    --ProjBg:var(--black);
    --TextColor:var(--yellow);
}
.altaria {
    --ProjBg:hsl(0,0%, 90%);
    --TextColor:var(--orange);
}
.serversity {
    --ProjBg:var(--white);
    --TextColor:var(--red);
    background-size: 400% 400%;
}
.home {
    --ProjBg:var(--black);
    --TextColor:var(--purple);
}
/*Internet legacy style*/
.neavetv {
    --ProjBg:var(--blue);
    --TextColor:var(--white);
}
.swarm {
    --ProjBg:var(--black);
    --TextColor:var(--white);
}
.wobble {
    --ProjBg:repeating-linear-gradient(to bottom, #00ccff, #00ffcc, #ffff00, #ff00cc, #cc00ff);
    --TextColor:var(--black);
}
.voronoi {
    --ProjBg:var(--crimson);
    --TextColor:var(--green);
}
.pixeldust {
    --ProjBg:var(--black);
    --TextColor:transparent;
}
.pixeldust > .projects__text {
    background: var(--rainbow);
    background-clip: text;
    background-size: 1000px 100%;
    --slideX:-1000px;
    --slideY:0;
    animation:slide 8s linear infinite;
}
.imagination {
    --ProjBg:var(--black);
    --TextColor:var(--red);
}
.home > img {
    background-image: var(--top-neave);
    border-radius: 64px;
    background-size: 100% 400%;
    --slideX:0;
    --slideY:400%;
    animation:slide 8s linear infinite;
}
/*Footer style*/
footer {
    position: relative;
    width: 100%;
    height: 160px;
    bottom:0;
    background-color: hsl(0, 0%, 5%);
    margin-top: 100px;
    --TextColor:var(--white);
}
footer > #footer {
    position: absolute;
    bottom:10px;
}
/*Animations*/
@keyframes slide {
    to {
        background-position: var(--slideX) var(--slideY);
    }
}